.btn {
  padding: 8px 16px;
  border: none;
  background: none;
  background-color: black;
  color: white;
  border-radius: 8px;
  font-weight: 500;
  text-transform: uppercase;
  border: 2px solid transparent;
  transition: all ease-in-out 0.2s;
}
.btn:hover {
  border: 2px solid black;
  cursor: pointer;
}
